:root{
    --dark: #0f082e;
    --light: #56aab9;  
}
html {
    /* This sets 1 rem equal to 10px */
    font-size: 62.5%
}
/* contains my name and nav bar */
header{
    background-color:var(--dark);
    position: relative;
    height: 8rem;
}
/* My name */
h1{
    background-color: var(--light);
    display: inline-block;
    font-size: 4rem;
    position: relative;
    top:2rem;
    right: 0;
    padding-left: 5rem;
    padding-right: 1rem;
}
h4{
    font-size: 2rem;
    margin-bottom: .5rem;
}
h4 p {
    font-size: 1.5rem;
}
nav{
    display: inline-block;
    font-size: 3rem;
    position: absolute;
    right: 3rem;
    top: 2.5rem;
}
ul li {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 2rem;
}
/* adds a thick underline to nav bar links */
nav ul li {
    border-bottom: .4rem solid var(--light);
}
/* removes the underline from anchor tags in nav and footer */
ul li a{
    text-decoration: none;
    font-size: 2rem;
}
nav ul li a{
    color: var(--light);
}
/* .subheader{
    position: relative;
} */
.header-image {
    height: 15rem;
    width: 100%;
}
/* Coder Climber Economist positioned */
.subtitle{
/* position: absolute;
bottom: 3rem;
right: 4rem; */
font-size: 3rem;
padding: .5rem;
color: var(--light);
background-color: var(--dark);
display: inline-block;
z-index: 100;
}
/* container for each section: about me, work, contact me */
.section-box{
    display: flex;
    margin-bottom: 2rem;
}
/* sets main content for each section to the right side of page */
.main-content{
    width: 70%;
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--dark);
}
/*aligns the section headers on the left side of the page  */
.section-header{
    width:25%;
    border-right: .5rem solid var(--dark);
    font-size: 4rem;
    text-align: right;
    padding-right: 1rem;
}
/* aligns all images in the work section */
.all-image-container{
    display: flex;
    flex-direction: column;
}
/* spaced out images into rows in the work section */
.image-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
}
/* format title box for each work image */
.image-name{
    position: absolute;
    left: 0;
    bottom: 2rem;
    background-color: var(--light);
    color: var(--dark);
    padding: 1rem;
}
/* created a container for each of the smaller work images */
.small-image{
    width:48%;
    height: 25rem;
    transition: all 0.5s ease-in-out;
}
.small-image img {
    width: 100%;
    height: 25rem;
    opacity: 0.5;
}
/* outline is like a border but on the outside */
.image-box{
    position: relative;
    outline: var(--light) 3px solid;
    outline-offset: -3px;
}
.image-box img:hover{
    opacity: 1;
    cursor: pointer;
}
.image-row img{
    width: 100%;
}

.yahtzee img {
    width: 100%;
    height: 50rem;
    opacity: 0.5;
}

.contactme-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contactme-box ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.contactme-box ul li a{
    color: var(--dark);
    border-bottom: 4px solid var(--dark);   
}
/* creates a spot to allow for a clear break in media query */
.break{
    flex-basis: 0;
    margin-right: -4rem;
}
@media screen and (max-width: 992px){
    .small-image{
        width: 100%;
    }
    /* spaces out the first and second images when they go to 1 column */
    .first-image{
        margin-bottom: 2rem;
    }
    .contactme-box ul{
        flex-wrap: wrap;  
    }
    /* creates a break after email */
    .break{
        flex-basis: 100%;
        height: 2rem;
    }
}
@media screen and (max-width: 768px){
    h1{
        display: block;
        top:0;
    }
    nav{
        position: relative;
        top:0rem;
        left:0;
    }
    .section-header{
        width:100%;
        border-right: none;
        border-bottom: .5rem solid var(--dark);
        text-align: left;
        padding-right: none;
    }
    .section-box{
        flex-direction: column;
    }
    .contactme-box ul li{
        margin-top: 2rem;
    }
    #break{
        height: 0;
        margin-top: -2.3rem;
    }
}

